<div class='user-post'>
  <h4 class='post-title'><%= post.Title%> </h4>
  <p class='post-text'>
    <% if post.Text.length > 110 %>
      <%= truncate(post.Text, length: 110) ... %>
    <% else %>
      <%= post.Text %>.
    <% end %>
  </p>
  <p class='statics'>Comments: <span><%= post.comments.count %></span>, Likes: <span><%= post.likes.count %></span></p>
</div>