<section class='info'>
  <%= render partial: 'portials/user', locals: {user: @user} %>
  <div class='user-bio'>
    <p>Bio:</p>
    <%= @user.Bio %>
  </div>   
  <div>
    <% if @user.posts.count < 0 %>
      <p class='user-post'><%= @user.Name %> doesn't have a post <em>yet!!</em></p>
    <% else %>
      <% @user.recent_post.each do |post| %>
        <%= render partial: 'portials/post_entier', locals: {post: post} %>
      <% end %>
      <div class='btn-container'>
        <%= link_to("See all posts", user_posts_path(@user), class: "posts-btn") %>
      </div>
    <% end %>
  </div>
</section>